.panadol-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.panadol-panadol {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.panadol-rectangle6 {
  top: 221px;
  left: 722px;
  width: 410px;
  height: 31px;
  position: absolute;
}
.panadol-rectangle7 {
  top: 274px;
  left: 720px;
  width: 412px;
  height: 31px;
  position: absolute;
}
.panadol-rectangle8 {
  top: 327px;
  left: 722px;
  width: 410px;
  height: 31px;
  position: absolute;
}
.panadol-text {
  top: 16px;
  left: 652px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-text02 {
  top: 226px;
  left: 903px;
  color: rgba(0, 0, 0, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-text04 {
  top: 226px;
  left: 742px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-text06 {
  top: 277px;
  left: 742px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-text08 {
  top: 330px;
  left: 742px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-frame1 {
  top: 293px;
  left: 867px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.panadol-rectangle11 {
  top: 21px;
  left: 14px;
  width: 188px;
  height: 55px;
  position: absolute;
  border-radius: 20px;
}
.panadol-text10 {
  top: 32px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.panadol-s2dmbfkr3ly11 {
  top: 221px;
  left: 108px;
  width: 512px;
  height: 512px;
  position: absolute;
}
.panadol-rectangle10 {
  top: 387px;
  left: 722px;
  width: 619px;
  height: 260px;
  position: absolute;
}
.panadol-text12 {
  top: 403px;
  left: 742px;
  color: rgba(0, 0, 0, 1);
  width: 570px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
